yc_token = "{{ yc_token }}"
yc_cloud_id = "{{ yc_cloud_id }}"
yc_folder_id = "{{ yc_folder_id }}"
db_name = "{{ vault_db_name }}"
db_user = "{{ vault_db_username }}"
db_password = "{{ vault_db_password }}"
datadog_api_key = "{{ vault_datadog_api_key }}"
admin_ssh = "{{ vault_admin_ssh }}"
